/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    font-family: 'Merriweather', serif;
    line-height: 165%;
}

section {
    padding: 50px 50px;
}

figure {
    text-align: center;
}

div,
figure {
    margin: 10px
}

figure>p {
    margin-top: 10px;
    font-weight: 800
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

p>a {
    color: #0ca5e6
}

a:hover {
    text-decoration: underline
}

a:visited {
    color: #0ca5e6
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 100px;
    font-weight: 900;
    line-height: 100px;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 70px;
    line-height: 70px;
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 25px;
    margin-bottom: 35px
}

h4 {
    font-size: 20px;
}

h5 {
    font-weight: 600;
}

header {
    text-align: center;
}

nav>ul>li {
    display: inline-block;
    margin: 10px 20px;
    padding: 5px;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: floralwhite;
}

footer>a {
    margin: 0px 10px;
}

button {
    cursor: pointer;
    height: 60px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #dad2fc;
    margin-top: 10px;
    background: linear-gradient(to top, #9088db, #c1b7f7);
}

button:hover {
    height: 43px;
    width: 128px;
    border: 4px solid #dad2fc;
}

.to-inline-block {
    display: inline-block;
}

.description {
    width: 575px;
    vertical-align: top;
}

.my-photo {
    width: 200px;
    border-radius: 10px;
}

.project-image {
    border-radius: 5px;
}

#landing {
    /*    height: 97vh;*/
    background-color: #ffe4c6;
}

#projects,
#recommendations {
    background-color: #ffe4c6;
}

#aboutMe {
    /*    height: 100vh;*/
    background-color: floralwhite;
}

#landing>div {
    margin-top: 10%;
    margin-bottom: 10%;
}

#aboutMe>div {
    margin-top: 10%;
    margin-bottom: 10%;
}

#skills {
    text-align: center;
    background-color: floralwhite;
}

#skills>h3 {
    text-align: left
}

@media only screen and (max-width: 1380px) {
    * {
        font-size: 20px;
        text-align: center;
    }
    .project-image {
        width: 100%;
        height: 100%;
    }
    .my-photo {
        width: 80%
    }
    /*
    h2 {
        font-size: 40px;
        line-height: 40px;
    }
*/
    .description {
        width: 95%;
    }
    .my-photo-container {
        display: block;
    }
    #aboutMe {
        /*        height: 160vh;*/
    }
    #aboutMe>div {
        margin: 5% 0;
    }
    nav>ul>li {
        display: block;
        margin: 0px;
    }
    #landing {
        /*                height: 80vh*/
    }
    /*
    h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 60px;
    }
*/
    section {
        padding: 50px 20px;
    }
    .project-container>div {
        margin: 10px 0px;
        width: 100%;
    }
    /*
    .description {
        width: 47%;
    }
*/
}


/*
@media only screen and (max-width: 1180px) {
    * {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 980px) {
}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 550px) {

}
*/


/*
@media only screen and (max-width: 980px) {

}
*/
