=projectHoverEffect
    &:hover
        left: 0%
        width: 100%
        z-index: 2
        filter: brightness(80%)
        .text-container
            visibility: visible
    
body
    display: grid
    // grid colum 2 and 4 have max 250px assumming picture will stretch good until 70% + 500px of the screen
    grid-template-columns: auto minmax(10px, 250px) minmax(260px, 70%) minmax(10px, 250px) auto

main,
footer
    grid-column: 2 / 5

a,
li
    text-decoration: none
    list-style: none
    color: white

p
    display: inline
//     line-height: 1.5em

h3
    grid-column: 2
    text-align: center

header
    position: absolute
    left: 50%

nav
    position: relative
    left: -50%
    margin: 0 auto
    text-align: center
    background: 2px solid blue
    li
        display: inline

.main-container
    grid-column: 2 / 3
    //so far, only applies to .maincontainer inside hero section with yempleate rows
    grid-row: 2 / 3
    vertical-align: middle
    text-align: center

.large-image
    width: 100%
    // height: 100%
    object-fit: cover

.text-container
    display: table
    height: 100%
    padding: 10%
    color: white
    // p
    //     display: table-cell
    //     vertical-align: middle

.project
    width: 25%
    height: 100%
    position: absolute
    transition: width 1s, left 1s, z-index 0.5s
    z-index: 1
    background-size: cover
    display: grid
    grid-template-columns: 6fr 4fr

#heroSection
    background-image: url("./images/hero-background.png")
    background-size: cover
    background-position-x: center
    background-position-y: center
    height: 100vh
    width: 100%
    display: grid 
    grid-template-columns: minmax(10px, auto) minmax(260px, 70%) minmax(10px, auto)
    grid-template-rows: auto minmax(260px, 40%) auto 

#heroImageContainer
    margin: auto 

#heroImage
    max-width: 700px

#aboutSection
    height: 100vh
    display: grid
    grid-template-columns: minmax(10px, auto) minmax(260px, 70%) minmax(10px, auto)
    grid-template-rows: auto minmax(400px, 70%) auto 

    .main-container
        display: grid
        grid-template-columns: 2fr 1fr 1fr
        grid-auto-rows: 2fr 3fr
        grid-gap: 10px

        .text-container
            display: table
            height: 100%
            padding: 10%
            color: white
            p
                display: table-cell
                vertical-align: middle
 
#defaultPhoto
    height: 100%

#photoContainer
    grid-row: 1 / 3

#aboutSoftwareContainer
    grid-column: 2 / 4
    grid-row: 1 / 2
    background-color: #019118

#aboutBusinessContainer
    grid-column: 2
    grid-row: 2 / 3
    background-color: #633FBE

#aboutOtherContainer
    grid-column: 3 / 4
    grid-row: 2 / 3
    background-color: #D34925

#projectSection
    height: 100vh
    display: grid
    grid-template-columns: minmax(10px, auto) minmax(260px, 70%) minmax(10px, auto)
    grid-template-rows: auto minmax(400px, 70%) auto 
    .main-container
        position: relative
    .text-container
        background-color: rgba(0,0,0, 0.8)
        grid-column: 2 / 3
        visibility: hidden

#gantt
    background-image: url("./images/Gantt-project.png")
    left: 0%
    +projectHoverEffect

#ppf
    background-image: url("./images/ProPlayersFoundation-project.png")
    left: 25%
    +projectHoverEffect

#ataNote
    background-image: url("./images/ataNote-project.png")
    left: 50%
    +projectHoverEffect

#exploRestaurant
    background-image: url("./images/explorestaurant-project.png")
    left: 75%
    +projectHoverEffect
